In [2]:
import yfinance as yf
import pandas as pd

Interval: '1d'

1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h,
1d, 5d, 1wk, 1mo, 3mo


Period: '1mo'
Limits on intraday data:
• 1m = max 7 days within last 30 days
• 30m = max 60 days
• 60m, 1h = max 730 days
• else up to 90m = max 60 days

In [3]:
# Max 730 d
hr = yf.download('AAPL', start="2021-10-23", end = "2023-10-21", interval="30m")
hr

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['AAPL']: Exception('%ticker%: 15m data not available for startTime=1634961600 and endTime=1697860800. The requested range must be within the last 60 days.')

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [16]:
# Max 7d within last 30d

minute = yf.download('AAPL', start="2023-10-16", end = "2023-10-21", interval="1m")
minute

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-10-16 09:30:00-04:00,176.750000,177.125000,176.509995,176.610001,176.610001,2972628
2023-10-16 09:31:00-04:00,176.551697,177.570007,176.550003,177.423706,177.423706,428362
2023-10-16 09:32:00-04:00,177.419998,177.740005,177.419998,177.520798,177.520798,352300
2023-10-16 09:33:00-04:00,177.535004,177.880005,177.520004,177.770004,177.770004,276321
2023-10-16 09:34:00-04:00,177.770004,178.179993,177.750000,178.129898,178.129898,377855
...,...,...,...,...,...,...
2023-10-20 15:55:00-04:00,172.865005,173.005005,172.809998,172.985001,172.985001,454553
2023-10-20 15:56:00-04:00,172.980103,173.009995,172.860001,172.910004,172.910004,365816
2023-10-20 15:57:00-04:00,172.910004,172.979996,172.899994,172.960007,172.960007,346419
2023-10-20 15:58:00-04:00,172.949997,173.020004,172.949997,172.990005,172.990005,525805
2023-10-20 15:59:00-04:00,172.985001,173.059998,172.809998,172.839996,172.839996,1166802