In [6]:
import yfinance as yf
import pandas as pd
import datetime as dt
from datetime import timedelta

Interval: '1d'

1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h,
1d, 5d, 1wk, 1mo, 3mo


Period: '1mo'
Limits on intraday data:
• 1m = max 7 days within last 30 days
• 30m = max 60 days
• 60m, 1h = max 730 days
• else up to 90m = max 60 days

In [9]:
hrly_date = (dt.datetime.today() - timedelta(days=730)).strftime('%Y-%m-%d')
hrly_date

'2021-10-24'

In [10]:
min_date = (dt.datetime.today() - timedelta(days=7)).strftime('%Y-%m-%d')
min_date

'2023-10-17'

In [ ]:
Sunday, 24 October 2021

In [12]:
half_hr = yf.download('AAPL', start="2023-08-24", end = "2023-10-22", interval="30m")
half_hr

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-08-24 09:30:00,180.520004,181.104004,179.610001,180.020004,180.020004,7135575
2023-08-24 10:00:00,180.020004,180.130005,178.389999,178.401993,178.401993,4242188
2023-08-24 10:30:00,178.409897,178.456207,177.679993,178.169998,178.169998,4224498
2023-08-24 11:00:00,177.889999,178.410004,177.649994,178.125000,178.125000,2975475
2023-08-24 11:30:00,178.119995,178.130005,177.520004,177.609894,177.609894,2658025
...,...,...,...,...,...,...
2023-10-20 13:30:00,174.184998,174.380005,173.887695,174.300003,174.300003,1939530
2023-10-20 14:00:00,174.300003,174.389999,173.460007,173.580002,173.580002,2467398
2023-10-20 14:30:00,173.559998,173.860001,173.255005,173.509995,173.509995,2526673
2023-10-20 15:00:00,173.529999,173.755005,173.125000,173.380005,173.380005,2757637
2023-10-20 15:30:00,173.369995,173.490005,172.800003,172.839996,172.839996,6774830

In [16]:
half_hr.iloc[:14]

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-08-24 09:30:00,180.520004,181.104004,179.610001,180.020004,180.020004,7135575
2023-08-24 10:00:00,180.020004,180.130005,178.389999,178.401993,178.401993,4242188
2023-08-24 10:30:00,178.409897,178.456207,177.679993,178.169998,178.169998,4224498
2023-08-24 11:00:00,177.889999,178.410004,177.649994,178.125000,178.125000,2975475
2023-08-24 11:30:00,178.119995,178.130005,177.520004,177.609894,177.609894,2658025
2023-08-24 12:00:00,177.610001,178.300003,177.500000,178.059906,178.059906,1787067
2023-08-24 12:30:00,178.050003,178.309998,177.949997,177.955002,177.955002,1708419
2023-08-24 13:00:00,177.960007,178.139999,177.680603,177.740005,177.740005,1279329
2023-08-24 13:30:00,177.729996,177.929993,177.429993,177.551407,177.551407,1481443
2023-08-24 14:00:00,177.559998,177.880005,177.464996,177.524002,177.524002,1842907
2023-08-24 14:30:00,177.520004,177.639999,177.000000,177.353699,177.353699,2530594
2023-08-24 15:00:00,177.360001,177.470001,176.800003,176.820007,176.820007,2656202
2023-08-24 15:30:00,176.820007,176.889999,176.009995,176.330002,176.330002,7256991
2023-08-25 09:30:00,177.380005,178.139496,177.229996,177.634201,177.634201,4980589

In [3]:
# Max 730 d
hr = yf.download('AAPL', start="2021-10-23", end = "2023-10-21", interval="30m")
hr

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['AAPL']: Exception('%ticker%: 15m data not available for startTime=1634961600 and endTime=1697860800. The requested range must be within the last 60 days.')

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [16]:
# Max 7d within last 30d

minute = yf.download('AAPL', start="2023-10-16", end = "2023-10-21", interval="1m")
minute

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-10-16 09:30:00-04:00,176.750000,177.125000,176.509995,176.610001,176.610001,2972628
2023-10-16 09:31:00-04:00,176.551697,177.570007,176.550003,177.423706,177.423706,428362
2023-10-16 09:32:00-04:00,177.419998,177.740005,177.419998,177.520798,177.520798,352300
2023-10-16 09:33:00-04:00,177.535004,177.880005,177.520004,177.770004,177.770004,276321
2023-10-16 09:34:00-04:00,177.770004,178.179993,177.750000,178.129898,178.129898,377855
...,...,...,...,...,...,...
2023-10-20 15:55:00-04:00,172.865005,173.005005,172.809998,172.985001,172.985001,454553
2023-10-20 15:56:00-04:00,172.980103,173.009995,172.860001,172.910004,172.910004,365816
2023-10-20 15:57:00-04:00,172.910004,172.979996,172.899994,172.960007,172.960007,346419
2023-10-20 15:58:00-04:00,172.949997,173.020004,172.949997,172.990005,172.990005,525805
2023-10-20 15:59:00-04:00,172.985001,173.059998,172.809998,172.839996,172.839996,1166802